---
import { Button } from "@/components/ui/button";
---

<div class="relative bg-primary-dark py-14 md:py-20 lg:py-24">
  <div class="container max-w-3xl">
    <div class="flex flex-col items-center justify-center text-center text-white">
      <h1 class="mb-3 text-2xl font-semibold md:mb-4 md:text-3xl lg:text-4xl">
        The Future of Software is Sustainable
      </h1>
      <p class="text-sm md:text-base">
        <span class="font-semibold">SOFT</span> isn't just a framework, it's your organization's pathway
        to meaningful environmental impact, operational excellence, and competitive advantage. Whether
        you're ready to join the pilot, explore the resources, or simply learn more, the time to act
        is now.
      </p>

      <div class="mt-6 flex flex-col items-center gap-4 md:mt-8 md:flex-row md:gap-6">
        <Button variant="primary-invert"> <a href="#get-involved"> Get Involved Today </a> </Button>
        <Button variant="link">
          <a href="mailto:soft@greensoftware.foundation">Contact the team</a>
        </Button>
      </div>
    </div>
  </div>
</div>
