---
import { Button } from "@/components/ui/button";
---

<section class="py-10">
  <div class="container">
    <div class="grid grid-cols-1 gap-x-20 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:items-center">
      <div>
        <h1 class="mb-5 text-3xl font-extrabold md:text-4xl lg:mb-6 lg:text-5xl">
          <span class="text-primary-darker">Transform Your Organization for </span>
          <span class="text-primary">Sustainable Software</span>
        </h1>
        <p class="text-lg font-normal md:text-xl lg:text-2xl">
          <span class="font-bold">SOFT</span> is the comprehensive framework that guides organizations
          through adopting, implementing, and transforming sustainable software practices across their
          entire operations.
        </p>
        <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
          <a href="#join-the-pilot">
            <Button> Take the course </Button>
          </a>
          <a
            href="https://github.com/Green-Software-Foundation/SOFT"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Button variant="outline"> Explore the Framework </Button>
          </a>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <img src="/assets/hero.svg" class="shrink-0 object-cover" />
      </div>
    </div>
    <div class="mt-10 hidden lg:flex lg:items-center lg:justify-center">
      <canvas id="gsf-scroll" style="width: 36px; height: 70px;"></canvas>
    </div>
  </div>
</section>
<script>
  import { DotLottie } from "@lottiefiles/dotlottie-web";

  const dotLottie = new DotLottie({
    autoplay: true,
    loop: true,
    canvas: document.querySelector("#gsf-scroll") as HTMLCanvasElement,
    src: "/assets/gsf-scroll.lottie",
  });
</script>
