<section class="py-8 md:py-12 lg:py-16">
  <div class="container">
    <div
      class="relative rounded-4xl border-3 border-accent-lighter px-12 py-12 backdrop-blur-sm md:px-20 md:py-16"
    >
      <div
        class="absolute -top-6 left-1/2 -translate-x-1/2 transform rounded-full bg-accent-lightest-2"
      >
        <img src="/assets/up.svg" class="h-12 w-16 md:h-14 md:w-24" />
      </div>

      <div class="text-center">
        <p class="text-lg font-medium text-primary-dark italic md:text-xl">
          <span class="font-bold">SOFT</span> gives changemakers the structured approach they need to
          reduce carbon emissions from software operations while achieving business objectives.
        </p>
      </div>

      <div
        class="absolute -bottom-6 left-1/2 -translate-x-1/2 transform rounded-full bg-accent-lightest-2"
      >
        <img src="/assets/down.svg" class="h-12 w-16 md:h-14 md:w-24" />
      </div>
    </div>
  </div>
</section>
