---
import NavigationComponent from "./react/navbar";
import NavbarGithubIcon from "@/assets/icons/navbar-github-icon.svg";
import { Button } from "./ui/button";
---

<header class="container pt-5">
  <div class="border-b border-primary-lighter pb-3">
    <div class="flex items-center justify-center gap-3 text-xs md:justify-end">
      <span>Project By</span>
      <a
        href="https://greensoftware.foundation"
        class="block"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/gsf-logo.svg" />
      </a>
    </div>
  </div>

  <div>
    <div class="flex items-center justify-between py-4">
      <a class="block h-16 shrink-0" href="#">
        <img src="/assets/logo.svg" class="size-full" />
      </a>

      <div class="flex items-center gap-4">
        <NavigationComponent client:load />

        <Button className="p-2">
          <a
            href="https://github.com/Green-Software-Foundation/SOFT"
            target="_blank"
            rel="noopener noreferrer"
          >
            <NavbarGithubIcon />
          </a>
        </Button>
      </div>
    </div>
  </div>
</header>
